{{/* Supervisor queue worker for Laravel sites */}}
[program:{{ .ProgramName }}]
process_name=%(program_name)s_%(process_num)02d
command={{ .PHPBinary }} {{ .ArtisanPath }} queue:work {{ .Connection }} --queue={{ .Queue }} --sleep={{ .Sleep }} --tries={{ .MaxTries }} --max-time={{ .MaxTime }}
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user={{ .User }}
numprocs={{ .NumProcs }}
redirect_stderr=true
stdout_logfile=/home/{{ .User }}/logs/queue-worker.log
stopwaitsecs={{ .StopWaitSecs }}
